@page "/"

<PageTitle>Index</PageTitle>

<div class="search-container">
    <div class="branding-text">
        <h1>TorSearch</h1>
    </div>

    <div class="search-box">
        <SearchBox/>
    </div>
</div>